
# Byte-compiled / optimized / dll files
__pycache__/
*.pyc
*.pyd
*.pyo

# IDE-related files
.ipynb_checkpoints/
.vscode/
.idea/

# Virtual environment
virt/
env/
venv/
ENV/
venv.bak/
virtualenv/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
*.whl

# PyInstaller/py2exe
*.spec
build/
dist/

# Jupyter Notebook specific files
.ipynb_checkpoints

# Colab specific
.config/
sample_data/
*.gdoc
*.gsheet

# Large files (if not managed by LFS)
*.pth
*.pt
*.bin
*.t7

# Logs
*.log
*.txt
